*{
	padding: 0;
	margin: 0;
	box-sizing: border box;
}

@font-face {
	font-family: Roboto;
	src:url(../fonts/Roboto-Regular.ttf);
}

html, body, main {
	height: 100%;
	font-family: Roboto;
}

.first {
	height: 100%;
	background-image: url(../img/img1.jpg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.first p {
	color: white;
}

.tourism{
	width: 100%;
	text-align: center;
	padding-top: 80px;
	font-size: 20px;
}

.text-container{
	width: 40%;
	margin-left: 15%;
	margin-top: 15%;
}